//<Адаптив>===========================================================================================================================================
@media (max-width: 1280px) {
	._container {
		padding: 0 10px; 
	}
}

@media (max-width: 1100px) {
	.menu-list a {
    padding: 5px 0 5px 35px;}
}

@media (max-width: 1024px) {
	.header__contacts {
    flex-direction: column;}
  .header__callback {
  	margin-top: 5px;}
  .footer__logo {
  	margin-right: 20px;}
  .footer__address,
  .footer__menu {
  	margin-right: 15px;
  	margin-bottom: 10px;}
}

@media (max-width: 960px) {
	.menu-list a {
    padding: 5px 0 5px 25px;}
}

@media (max-width: 812px) {
	.header__mail {
		display: none;}
}

@media (max-width: 768px) { 
	.header {
		position: fixed;
		width: 100%;
		padding: 5px 0;
		background: #fff;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);} 
	.icon-menu {
		display: flex;}
	.header__menu,
	.header__soc-block,
	.header__callback {
		display: none;}
	.header__address {
		line-height: 1;
		margin-left: auto;
		margin-right: 20px;}
	.header__contacts {
		margin-right: 20px;}
	.header__logo {
    flex: 0 0 35px;
    height: 35px;}
	.header__navigation {
		padding: 0;}
	.header__menu-list {
		display: none;}
	.header__phone {
		font-size: 18px;}
  .header__popup-link_mob {
  	display: flex;
  	margin-left: 0;}
	section {
		padding: 20px 0 !important;}
	.title {
		margin-bottom: 15px;}
	::-webkit-scrollbar {
    display: none;}
  .footer {
    padding: 15px 0;}
  .footer__logo {
    flex: 0 0 55px;
    height: 55px;
    margin-right: 15px;}
  .footer__address {
  	display: none;}
  .footer__contacts-phone {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 6px;}
  .footer__menu-item-link {
  	line-height: 1;}
  .footer__menu-item {
  	margin-bottom: 5px;}
}

@media (max-width: 700px) {
	.mob-menu {
		width: 100%;
		right: -100%;
		-webkit-transition: right 0.8s;
		-o-transition: right 0.8s;
		transition: right 0.8s; }
}

@media (max-width: 612px) {
	.popup__img {
    flex: 0 1 43%;}
	.popup__form-block {
		padding: 35px 15px;}
}

@media (max-width: 540px) {
	.header__address {
		display: none;}
	.header__contacts {
		margin-left: auto;}
}

@media (max-width: 515px) {
	.popup__img {
		display: none;}
	.popup__form-block {
		flex: 0 1 100%;}
	.footer__logo {
    margin-right: 0;
    margin-bottom: 10px;}
  .footer__menu {
    flex: 0 1 100%;
    margin-right: 0;
    margin-bottom: 15px;}
  .footer__menu-item {
    flex: 0 1 100%;}
}

@media (max-width: 480px) {
	.header__search {
    display: none;
	}
	.header__mob-search-btn {
    display: flex;
	}
	.header__search.active {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    max-width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    margin: 0;
	}
	.search__input {
    border-radius: 0 !important;
	}
}
